{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>title</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->
	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">
	<meta name="theme-color" content="#000">
	<meta name="msapplication-navbutton-color" content="#000">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
</head>
<body>
	<!-- start header -->
<header class="header">
		<div class="header-bg"></div>
		<div class="wrapper">
			<div class="header-logo">
				<a href="/"><img src="{% static 'img/logo.svg' %}" alt=""></a>
			</div>
			<div class="header-menu">
				<ul class="header-list">
					<li class="drop">
						<a href="#" class="drop-text">
							Rate
							<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.3625 0.368747L4.5 3.23125L1.63125 0.368747L0.75 1.25L4.5 5L8.25 1.25L7.3625 0.368747Z" fill="white"/></svg>
						</a>
						<div class="drop-info">
							  <ul>
                                {% if 2 in cat_ids %}
                                    <li ><a class="active" href="{% url 'startups' 2 %}">Inclusion Solutions</a></li>
                                {% else %}
                                    <li><a >Inclusion Solutions</a></li>
                                {% endif %}
                                {% if 1 in cat_ids %}
                                    <li><a class="active" href="{% url 'startups' 1 %}">Financial Services</a></li>
                                {% else %}
                                    <li><a >Financial Services</a></li>
                                {% endif %}
                                {% if 3 in cat_ids %}
                                    <li><a class="active" href="{% url 'startups' 3 %}">HR Solutions</a></li>
                                {% else %}
                                    <li><a >HR Solutions</a></li>
                                {% endif %}


                            </ul>
						</div>
					</li>
						<li><a href="{% url 'instructions' %}">Instructions</a></li>
					<li><a href="{% url 'contests' %}">Contests</a></li>
                    {% if request.user.is_superuser %}
					<li class="li-mob"><a href="{% url 'admin_page' 1 %}">Admin</a></li>
                        {% endif %}
					<li class="li-mob"><a href="{% url 'logout_page' %}">Exit</a></li>
				</ul>
				<div class="header-user">
					<div class="header-user__top">
						<span class="header-user__name">{{ request.user.first_name }}</span>
						<div class="header-user__img"><img src="{{ request.user.get_avatar }}" alt=""></div>
						<div class="header-user__arrow"><svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 0.579987L6 5.16999L10.59 0.579987L12 1.99999L6 7.99999L0 1.99999L1.41 0.579987Z" fill="white"/></svg></div>
					</div>
					<div class="header-user__drop">
						<ul>
							{% if request.user.is_superuser %}

					<li ><a href="{% url 'admin_page' 1 %}">Admin</a></li>
                        {% endif %}
					<li ><a href="{% url 'logout_page' %}">Exit</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="header-bar">
				<span></span>
			</div>
		</div>
	</header>
	<!-- end header -->
	<!-- start contests -->
	<section class="contests instructions">
		<div class="contests-bg contests-bg__1"><svg width="437" height="551" viewBox="0 0 437 551" fill="none" xmlns="http://www.w3.org/2000/svg"><circle opacity="0.4" cx="50.5" cy="164.5" r="275.5" fill="#0028C8"/><circle cx="50.4996" cy="164.5" r="355.269" stroke="#0028C8"/><circle cx="50.5" cy="164.5" r="385" stroke="#0028C8" stroke-width="3"/></svg></div>
		<div class="contests-bg contests-bg__2"><svg width="323" height="368" viewBox="0 0 323 368" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="386.5" cy="386.5" r="355.269" stroke="#0028C8"/><circle cx="386.5" cy="386.5" r="385" stroke="#0028C8" stroke-width="3"/></svg></div>
		<div class="contests-bg contests-bg__mob"><svg width="334" height="773" viewBox="0 0 334 773" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.2"><circle opacity="0.4" cx="386.5" cy="386.5" r="275.5" fill="#0028C8"/><circle cx="386.5" cy="386.5" r="355.269" stroke="#0028C8"/><circle cx="386.5" cy="386.5" r="385" stroke="#0028C8" stroke-width="3"/></g></svg></div>
		<div class="wrapper">
			<div class="contests-block">
				<h3 class="contests-subtitle">Startup Pitch Contests</h3>
				<p>First, log into your account with login and password info you have received via email. After that, choose your evaluation category.</p>
				<p>Then you will see the list of startups that were approved to take part in the contest. Learn more about them by clicking on the "Info" button. After you have viewed the info page, you will be able to evaluate each startup.</p>
				<p>Lastly, do not forget to rate the startups: you can do so by clicking on the "<b>Rate</b>" button.</p>
				<p>Keep in mind that you will receive an email reminder in case you have not evaluated any of the startups.</p>
				<p>Before the final pitch presentation, the startup list will be updated. You will be able to evaluate every pitch during the Pitch presentation session on the 4th of September.</p>
				<p>Your points for presentation will be automatically added to the points that you have assigned during the first evaluation stage before the finals.</p>
				<p>In case of any questions, do not hesitate to contact Pitch Contest Support at <a href="#">pitch@inclusionforum.global</a>.</p>
			</div>
		</div>
	</section>
	<!-- end contests -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="{% static 'js/scripts.min.js' %}"></script>
</body>
</html>