{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>title</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->
	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">
	<meta name="theme-color" content="#000">
	<meta name="msapplication-navbutton-color" content="#000">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
</head>
<body>
	<!-- start header -->
<header class="header">
		<div class="header-bg"></div>
		<div class="wrapper">
			<div class="header-logo">
				<a href="/"><img src="{% static 'img/logo.svg' %}" alt=""></a>
			</div>
			<div class="header-menu">
				<ul class="header-list">
					<li class="drop">
						<a href="#" class="drop-text">
							Rate
							<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.3625 0.368747L4.5 3.23125L1.63125 0.368747L0.75 1.25L4.5 5L8.25 1.25L7.3625 0.368747Z" fill="white"/></svg>
						</a>
						<div class="drop-info">
							  <ul>
                                {% if 2 in cat_ids %}
                                    <li ><a class="active" href="{% url 'startups' 2 %}">Inclusion Solutions</a></li>
                                {% else %}
                                    <li><a >Inclusion Solutions</a></li>
                                {% endif %}
                                {% if 1 in cat_ids %}
                                    <li><a class="active" href="{% url 'startups' 1 %}">Financial Services</a></li>
                                {% else %}
                                    <li><a >Financial Services</a></li>
                                {% endif %}
                                {% if 3 in cat_ids %}
                                    <li><a class="active" href="{% url 'startups' 3 %}">HR Solutions</a></li>
                                {% else %}
                                    <li><a >HR Solutions</a></li>
                                {% endif %}


                            </ul>
						</div>
					</li>
						<li><a href="{% url 'instructions' %}">Instructions</a></li>
					<li><a href="{% url 'contests' %}">Contests</a></li>
                    {% if request.user.is_superuser %}
					<li class="li-mob"><a href="{% url 'admin_page' 1 %}">Admin</a></li>
                        {% endif %}
					<li class="li-mob"><a href="{% url 'logout_page' %}">Exit</a></li>
				</ul>
				<div class="header-user">
					<div class="header-user__top">
						<span class="header-user__name">{{ request.user.first_name }}</span>
						<div class="header-user__img"><img src="{{ request.user.get_avatar }}" alt=""></div>
						<div class="header-user__arrow"><svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 0.579987L6 5.16999L10.59 0.579987L12 1.99999L6 7.99999L0 1.99999L1.41 0.579987Z" fill="white"/></svg></div>
					</div>
					<div class="header-user__drop">
						<ul>
							{% if request.user.is_superuser %}

					<li ><a href="{% url 'admin_page' 1 %}">Admin</a></li>
                        {% endif %}
					<li ><a href="{% url 'logout_page' %}">Exit</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="header-bar">
				<span></span>
			</div>
		</div>
	</header>
	<!-- end header -->
	<!-- start main -->
	<section class="main main-second main-after" style="background-image: url({% static 'img/main-bg.jpg' %});">
		<div class="wrapper">
			<div class="startups admin invite">
				<div class="admin-top">
					<div class="admin-top__row">
						<span class="admin-title">List of Jury</span>
					</div>
				</div>
				<div class="invite-wrap">
					<div class="invite-form">
						<form action="" method="post">{% csrf_token %}
							<div style="align-items: flex-end"class="invite-form__row">
								<div  class="input-block">
									<input style="margin-bottom: 10px" required type="email" name="email" placeholder="Enter email address">
                                    <input required type="text" name="name" placeholder="Person Name">
								</div>
								<button type="submit" class="primary-btn primary-btn__ico">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13 7C13 6.44772 12.5523 6 12 6C11.4477 6 11 6.44772 11 7V11H7C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11V17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17V13H17C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11H13V7Z" fill="white"/></svg>
									Send Invitation
								</button>
							</div>
							<div class="invite-form__checkbox">
								<div class="checkbox">
									<input name="category" type="checkbox" value="Inclusion Solutions" checked>
									<span class="checkbox-ico"><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.75 1.25L4.75 10.25L0.625 6.125L1.6825 5.0675L4.75 8.1275L12.6925 0.192505L13.75 1.25Z" fill="#0028C8"/></svg></span>
									<p>Inclusion Solutions</p>
								</div>
								<div class="checkbox">
									<input  name="category" type="checkbox" value="Financial Services">
									<span class="checkbox-ico"><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.75 1.25L4.75 10.25L0.625 6.125L1.6825 5.0675L4.75 8.1275L12.6925 0.192505L13.75 1.25Z" fill="#0028C8"/></svg></span>
									<p>Financial Services</p>
								</div>
								<div class="checkbox">
									<input  name="category" type="checkbox" value="HR Solutions">
									<span class="checkbox-ico"><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.75 1.25L4.75 10.25L0.625 6.125L1.6825 5.0675L4.75 8.1275L12.6925 0.192505L13.75 1.25Z" fill="#0028C8"/></svg></span>
									<p>HR Solutions</p>
								</div>
							</div>
						</form>
					</div>
					<div class="invite-table">
						<div class="invite-table__row invite-table__row-top">
							<div class="invite-table__col invite-table__col-1">
								<span class="invite-table__subtitle">Email</span>
							</div>
							<div class="invite-table__col invite-table__col-2">
								<span class="invite-table__subtitle">Category</span>
							</div>
							<div class="invite-table__col invite-table__col-3">
								<span class="invite-table__subtitle">Status</span>
							</div>
						</div>
                        {% for person in allinvited %}
						<div class="invite-table__row">
							<div class="invite-table__col invite-table__col-1">
								<p>{{ person.email }}</p>
							</div>
							<div class="invite-table__col invite-table__col-2">
								<ul class="startup-category">
                                    {% for cat in person.category.all%}
									<li><a href="#">{{ cat.name }}</a></li>
                                        {% endfor %}
								</ul>
							</div>
							<div class="invite-table__col invite-table__col-3">
                                {% if person.is_active %}
								    <p class="color-green">Active</p>
                                {% else %}
                                <p class="color-red">Not Active</p>
                                {% endif %}
							</div>
						</div>
                        {% endfor %}

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end main -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="{% static 'js/scripts.min.js' %}"></script>
</body>
</html>